$fs-xs: .75rem !default;
$fs-sm: .875rem !default;
$fs-md: 1rem !default;
$fs-lg: 1.125rem !default;
$fs-xl: 1.25rem !default;
$fs-2xl: 1.5rem !default;
$fs-3xl: 1.875rem !default;
$fs-4xl: 2.25rem !default;
$fs-5xl: 3rem !default;
$fs-6xl: 4rem !default;
