/* @utilities/flex - alignContent */

.ac {
  @include createVariants($responsive: true) {
    &-s {
      align-content: flex-start;
    }

    &-c {
      align-content: center;
    }

    &-e {
      align-content: flex-end;
    }

    &-sa {
      align-content: space-around;
    }

    &-sb {
      align-content: space-between;
    }
  }
}
