/* @utilities/flex - alignItems */

.ai {
  @include createVariants($responsive: true) {
    &-s {
      align-items: flex-start;
    }

    &-c {
      align-items: center;
    }

    &-e {
      align-items: flex-end;
    }

    &-b {
      align-items: baseline;
    }

    &-se {
      align-items: stretch;
    }
  }
}
