/* @utilities/flex - alignSelf */

.as {
  @include createVariants($responsive: true) {
    &-s {
      align-self: flex-start;
    }

    &-c {
      align-self: center;
    }

    &-e {
      align-self: flex-end;
    }

    &-b {
      align-self: baseline;
    }

    &-se {
      align-self: stretch;
    }
  }
}
