/* @utilities/flex - direction */

.fd {
  @include createVariants($responsive: true) {
    &-r {
      flex-direction: row;
    }

    &-rr {
      flex-direction: row-reverse;
    }

    &-c {
      flex-direction: column;
    }

    &-cr {
      flex-direction: column-reverse;
    }
  }
}
