/* @utilities/flex - flex */

.fx {
  @include createVariants($responsive: true) {
    &-1 {
      flex: 1 1 0%;
    }

    &-a {
      flex: 1 1 auto;
    }

    &-i {
      flex: 0 1 auto;
    }

    &-n {
      flex: none;
    }
  }
}
