/* @utilities/flex - justifyContent */

.jc {
  @include createVariants($responsive: true) {
    &-s {
      justify-content: flex-start;
    }

    &-c {
      justify-content: center;
    }

    &-e {
      justify-content: flex-end;
    }

    &-sa {
      justify-content: space-around;
    }

    &-sb {
      justify-content: space-between;
    }
  }
}
