/* @utilities/flex - wrap */

.flex-wrap {
  @include createVariants($responsive: true) {
    flex-wrap: wrap;

    &-reverse {
      flex-wrap: wrap-reverse;
    }

    &-none {
      flex-wrap: nowrap;
    }
  }
}
