/* @utilities/flex - wrap */

.fw {
  @include createVariants($responsive: true) {
    flex-wrap: wrap;

    &-r {
      flex-wrap: wrap-reverse;
    }

    &-nw {
      flex-wrap: nowrap;
    }
  }
}
