/* @utilities - display */

.d {
  @include createVariants($responsive: true) {
    &-b {
      display: block;
    }

    &-i {
      display: inline;
    }

    &-ib {
      display: inline-block;
    }

    &-f {
      display: flex;
    }

    &-if {
      display: inline-flex;
    }

    &-n {
      display: none;
    }
  }
}
