/* @utilities - list */

.l {
  // marker styles
  &-n {
    list-style-type: none;
  }

  &-dsc {
    list-style-type: disc;
  }

  &-dec {
    list-style-type: decimal;
  }

  // marker positions
  &-i {
    list-style-position: inside;
  }

  &-o {
    list-style-position: outside;
  }
}
