/* @utilities - margin */

.m {
  @include createVariants($responsive: true) {
    &y-auto {
      margin-top: auto;
      margin-bottom: auto;
    }

    &x-auto {
      margin-right: auto;
      margin-left: auto;
    }

    @each $suffix, $size in $sizes {
      &-#{$suffix} {
        margin: $size;
      }

      &y-#{$suffix} {
        margin-top: $size;
        margin-bottom: $size;
      }

      &x-#{$suffix} {
        margin-right: $size;
        margin-left: $size;
      }

      &t-#{$suffix} {
        margin-top: $size;
      }

      &r-#{$suffix} {
        margin-right: $size;
      }

      &b-#{$suffix} {
        margin-bottom: $size;
      }

      &l-#{$suffix} {
        margin-left: $size;
      }
    }
  }
}
