/* @utilities - padding */

.p {
  @include createVariants($responsive: true) {
    &y-auto {
      padding-top: auto;
      padding-bottom: auto;
    }

    &x-auto {
      padding-right: auto;
      padding-left: auto
    }

    @each $suffix, $size in $sizes {
      &-#{$suffix} {
        padding: $size;
      }

      &y-#{$suffix} {
        padding-top: $size;
        padding-bottom: $size;
      }

      &x-#{$suffix} {
        padding-right: $size;
        padding-left: $size;
      }

      &t-#{$suffix} {
        padding-top: $size;
      }

      &r-#{$suffix} {
        padding-right: $size;
      }

      &b-#{$suffix} {
        padding-bottom: $size;
      }

      &l-#{$suffix} {
        padding-left: $size;
      }
    }
  }
}
