/* @utilities - spaceBetween */

.space {
  @include createVariants($responsive: true) {
    @each $suffix, $size in $sizes {
      // normal
      &-x-#{$suffix} > :not(template) ~ :not(template) {
        margin-left: $size;
      }

      &-y-#{$suffix} > :not(template) ~ :not(template) {
        margin-top: $size;
      }

      // reversed
      &-x-#{$suffix}.space-x-reverse > :not(template) ~ :not(template) {
        margin-right: $size;
      }

      &-y-#{$suffix}.space-y-reverse > :not(template) ~ :not(template) {
        margin-bottom: $size;
      }
    }
  }
}
