/* @base - reset */
// heavily influenced by https://github.com/hankchizljaw/modern-css-reset

/* box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* set core html defaults */
html {
  background-color: #fff;
  font-size: 16px;
  scroll-behavior: smooth;
}

/* set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* reset heading font sizes and weights */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* remove default list styles and padding on lists */
ul,
ol {
  list-style-type: none;
  padding: 0;
}

/* remove anchor default styling */
a {
  color: inherit;
  text-decoration: inherit;
}

/* make media easier to work with */
img,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/* natural flow and rhythm in articles */
article > * + * {
  margin-top: 1rem;
}

/* inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove browser borders from buttons and modify cursor */
button {
  border: none;
  cursor: pointer;
}

/* remove animations and transitions for people who prefer not to see them  */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
