/* @base - typography */

/* set core text defaults */
body {
  color: $grey-900;
  font-family: "Inter", "Inter Var", "Lato", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* display horizontal rules using border */
hr {
  box-sizing: content-box;
  overflow: visible;
  border-width: 0;
  border-top-width: 1px;
  border-style: solid;
  border-color: $cool-grey-200;
  height: 0;
}

/* ensure mono font family */
code,
pre,
kbd,
samp {
  font-family: "source-code-pro", "Menlo", "Monaco", "Consolas", "Courier New", monospace;
}
