/* @elements - columns */

.columns {
  display: flex;
  flex-wrap: wrap;

  .column {
    display: block;

    @for $i from 0 through 24 {
      &.span-#{$i} {
        flex: none;
        width: percentage($i/24);
      }

      &.skip-#{$i} {
        margin-left: percentage($i/24);
      }
    }

    @include screen-sm {
      @for $i from 1 through 24 {
        &.sm\:span-#{$i} {
          flex: none;
          width: percentage($i/24);
        }

        &.sm\:skip-#{$i} {
          margin-left: percentage($i/24);
        }
      }
    }

    @include screen-md {
      @for $i from 1 through 24 {
        &.md\:span-#{$i} {
          flex: none;
          width: percentage($i/24);
        }

        &.md\:skip-#{$i} {
          margin-left: percentage($i/24);
        }
      }
    }

    @include screen-lg {
      @for $i from 1 through 24 {
        &.lg\:span-#{$i} {
          flex: none;
          width: percentage($i/24);
        }

        &.lg\:skip-#{$i} {
          margin-left: percentage($i/24);
        }
      }
    }

    @include screen-xl {
      @for $i from 1 through 24 {
        &.xl\:span-#{$i} {
          flex: none;
          width: percentage($i/24);
        }

        &.xl\:skip-#{$i} {
          margin-left: percentage($i/24);
        }
      }
    }
  }
}
