/* @elements - container */

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @include screen-sm {
    max-width: $screen-sm;
  }

  @include screen-md {
    max-width: $screen-md;
  }

  &:not(.narrow) {
    @include screen-lg {
      max-width: $screen-lg;
    }

    @include screen-xl {
      max-width: $screen-xl;
    }
  }
}
