$size-0: 0 !default;
$size-px: 1px !default;
$size-2px: 2px !default;
$size-1: 0.25rem !default;
$size-2: 0.5rem !default;
$size-3: 0.75rem !default;
$size-4: 1rem !default;
$size-5: 1.25rem !default;
$size-6: 1.5rem !default;
$size-7: 1.75rem !default;
$size-8: 2rem !default;
$size-9: 2.25rem !default;
$size-10: 2.5rem !default;
$size-12: 3rem !default;
$size-14: 3.5rem !default;
$size-16: 4rem !default;
$size-18: 4.5rem !default;
$size-20: 5rem !default;
$size-24: 6rem !default;
$size-28: 7rem !default;
$size-32: 8rem !default;
$size-36: 9rem !default;
$size-40: 10rem !default;
$size-48: 12rem !default;
$size-56: 14rem !default;
$size-64: 16rem !default;
$size-72: 18rem !default;
$size-80: 20rem !default;
$size-96: 24rem !default;

$sizes: (
  0: $size-0,
  px: $size-px,
  2px: $size-2px,
  1: $size-1,
  2: $size-2,
  3: $size-3,
  4: $size-4,
  5: $size-5,
  6: $size-6,
  7: $size-7,
  8: $size-8,
  9: $size-9,
  10: $size-10,
  12: $size-12,
  14: $size-14,
  16: $size-16,
  18: $size-18,
  20: $size-20,
  24: $size-24,
  28: $size-28,
  32: $size-32,
  36: $size-36,
  40: $size-40,
  48: $size-48,
  56: $size-56,
  64: $size-64,
  72: $size-72,
  80: $size-80,
  96: $size-96
);
